body {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif; 
    background-color: #B0B5B3;
}



.weapon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    margin: 20px 0px 20px 0px
}

.weapon-box {
    height: 150px;
    width: 150px;
    background: #011936;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}

#weapon1 {
    font-size: x-large;
}

#weapon2 {
    font-size: x-large;
}


.perk-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    padding: 15px;
    font-size: large;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
    
}

.tactical-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    margin: 5px;
    display: flex;
    padding: 15px;
    font-size: larger;
    border-radius: 25px;
     box-shadow: 5px 5px 5px #191716;
    
}

.lethal-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    margin: 5px;
    display: flex;
    padding: 15px;
    font-size: larger;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}

.weapon-name {
    color: white;
    font-size: x-large;

}

.perk-name {
    color: white;
}


.attachment1 {
    height: 150px;
    width: 150px;
    background: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}
.attachment2 {
    height: 150px;
    width: 150px;
    background: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}
.attachment3 {
    height: 150px;
    width: 150px;
    background: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}
.attachment4 {
    height: 150px;
    width: 150px;
    background: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}
.attachment5 {
    height: 150px;
    width: 150px;
    background: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}

.attachment6 {
    height: 150px;
    width: 150px;
    background: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}
.attachment7 {
    height: 150px;
    width: 150px;
    background: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}
.attachment8 {
    height: 150px;
    width: 150px;
    background: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}
.attachment9 {
    height: 150px;
    width: 150px;
    background: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}
.attachment10 {
    height: 150px;
    width: 150px;
    background: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}




.perk-box1 {
    height: 150px;
    width: 150px;
    background-color: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-size: larger;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}

.perk-box2 {
    height: 150px;
    width: 150px;
    background-color: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-size: larger;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}

.tactical-box {
    height: 150px;
    width: 150px;
    background-color: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}

.lethal-box {
    height: 150px;
    width: 150px;
    background-color: #465362;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #191716;
}

h1 {
    text-align: center;
}
h2 {
    margin-left: 60px;
}

.header-p {
    text-align: center;
}

p {
    text-align: center;
}

.nav-buttons{
    display: flex;
    justify-content: space-around;
   
}

.buttons{
    padding: 10px;
    border-radius: 10px;

}

.buttons:hover {background-color:#C3C3C3}

.buttons:active {
  background-color: #C3C3C3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.other-buttons {
    padding: 6px;
    border-radius: 10px;
}

.other-buttons:hover {background-color:#C3C3C3}

.other-buttons:active {
    background-color: #C3C3C3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.line {
    opacity: 0.6;
    width: 1300px;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color:#666;
}

.box-line {
    opacity: 0.6;
    width: 150px;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    background-color:#666;
}


/* .random-weapon {
    height: 50px;
    width: 150px;
    background-color: #272F2F;
    display: flex;
    justify-content: center;
} */










