body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDFFF7;
}

.weapon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    margin: 20px 0px 20px 0px
}

.weapon-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

#weapon1 {
    font-size: x-large;
}

#weapon2 {
    font-size: x-large;
}

.perk-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    padding: 15px;
    font-size: large;
}

.tactical-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    margin: 5px;
    display: flex;
    padding: 15px;
    font-size: larger;
}

.lethal-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    margin: 5px;
    display: flex;
    padding: 15px;
    font-size: larger;
}

.weapon-name {
    color: white;

}

.perk-name {
    color: white;
}


.attachment1 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.attachment2 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.attachment3 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.attachment4 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.attachment5 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.attachment6 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.attachment7 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.attachment8 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.attachment9 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.attachment10 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.perk-box1 {
    height: 150px;
    width: 150px;
    background-color: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-size: larger;
}

.perk-box2 {
    height: 150px;
    width: 150px;
    background-color: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-size: larger;
}

.tactical-box {
    height: 150px;
    width: 150px;
    background-color: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.lethal-box {
    height: 150px;
    width: 150px;
    background-color: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

h1 {
    text-align: center;
    
}
h3 {
    margin-left: 55px;
}

.nav-buttons{
    display: flex;
    justify-content: space-around;
}


/* .random-weapon {
    height: 50px;
    width: 150px;
    background-color: #272F2F;
    display: flex;
    justify-content: center;
} */

.randomize-just-primary {
    height: 25px;
    width: 125px;
}
