body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDFFF7;
}

.weapon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    margin: 20px 0px 20px 0px
}

.weapon-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}

#weapon1 {
    font-size: x-large;
}

#weapon2 {
    font-size: x-large;
}

.perk-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    padding: 15px;
    font-size: large;
    border-radius: 25px;
}

.tactical-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    margin: 5px;
    display: flex;
    padding: 15px;
    font-size: larger;
    border-radius: 25px;
}

.lethal-box {
    height: 150px;
    width: 150px;
    background: #272F2F;
    margin: 5px;
    display: flex;
    padding: 15px;
    font-size: larger;
    border-radius: 25px;
}

.weapon-name {
    color: white;

}

.perk-name {
    color: white;
}


.attachment1 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}
.attachment2 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}
.attachment3 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}
.attachment4 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}
.attachment5 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}

.attachment6 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}
.attachment7 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}
.attachment8 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}
.attachment9 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}
.attachment10 {
    height: 150px;
    width: 150px;
    background: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}

.perk-box1 {
    height: 150px;
    width: 150px;
    background-color: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-size: larger;
    border-radius: 25px;
}

.perk-box2 {
    height: 150px;
    width: 150px;
    background-color: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-size: larger;
    border-radius: 25px;
}

.tactical-box {
    height: 150px;
    width: 150px;
    background-color: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}

.lethal-box {
    height: 150px;
    width: 150px;
    background-color: #272F2F;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 25px;
}

h1 {
    text-align: center;
    
}
h3 {
    margin-left: 55px;
}

.nav-buttons{
    display: flex;
    justify-content: space-around;
}


/* .random-weapon {
    height: 50px;
    width: 150px;
    background-color: #272F2F;
    display: flex;
    justify-content: center;
} */

.randomize-just-primary {
    height: 25px;
    width: 125px;
}









<!-- HTML !-->
<button class="button-28" role="button">Button 28</button>

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}